<h1 class="top-header">Here are all of the salons:</h1>
<div class="card-block">

  <% @salons.each do |salon| %>
    <ul>
      <li><a href= <%= "salons/#{salon.id}" %> ><%= salon.name %></a></li>
    </ul>
  <% end %>
</div>
