<div class="row">
  <form method="post" action= <%= "/appointments/#{@appointment.id}" %> >
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Enter a new date and time (e.g., 6/30/17, 4pm)<input type="text" name="new_date_time" value=""></label>
    <input type="submit" name="submit" value="Submit">
  </form>
  <form method="post" action= <%= "/appointments/#{@appointment.id}" %> >
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="delete" value="Delete">
  </form>
</div>
