<h1 class= "top-header">Confirm appointment info</h1>
<div class="card-panel">
  <h5>Date: <%= @date %></h5>
  <h5>Time: <%= @time %><%= @am_pm %></h5>
  <h5>Stylist: <%= @stylist.name %></h5>
  <div class="row">
    <form class="col s12" method="POST" action="/appointments">
      <div class="row">
        <div class="input-field col m6">
          <input id="icon_prefix" type="text" name="customer_name" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
        <div class="col m6">
          <input type="submit" name="submit" value="Book" class="btn waves-effect waves-light col bg-primary submit-btn">
        </div>
      </div>
    </form>
  </div>
</div>
