<div class="row">
  <h1 id= "welcome">Welcome to Open Salon!</h1>
  <p> Search : </p>
  <form action= "/availabilities" method="POST">
    <!-- DROPDOWN 1 -->
     <div class="input-field col s4">
        <select name="date">
          <option  selected>Select a day</option>
          <% @date_range.each do |day| %>
            <option value=<%= day %> > <%= "#{day.month}-#{day.day}-#{day.year}"%></option>
          <% end %>
        </select>
      </div>
     <!-- DROPDOWN 1 -->
     <div class="input-field col s4">
        <select name="salon">
          <option selected>Select a Salon</option>
          <% @salons.each do |salon| %>
            <option value=<%= salon %> > <%= "#{salon.name}" %></option>
          <% end %>
        </select>
      </div>

      <button class="btn waves-effect waves-light col s4 submit-btn" type="submit" name="submit">Submit
      </button>
    </form>
</div>
